body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: center;
}

header {
  background-color: rgb(69, 69, 235);
  color: white;
  display: flex;
  justify-content: center;
  padding: 1.25em 1.25em;
  align-items: center;
}

header a {
  color: white;
  text-decoration: none;
  margin-right: 1.25em;
  align-items: center;
}

img {
  width: 7.812em;
  height: 6.25em;
  margin-right: 12.5em;
}

nav {
  display: flex;
  align-items: center;
}

nav a, nav img {
  color: white;
  text-decoration: none;
  margin-left: 6.25em;
  align-items: center;
  justify-content: center;
}

#button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3.125em;
  width: 100%; /* Ajustez selon vos besoins */
  max-width: 16em; /* Ajustez selon vos besoins */
  padding: 1em; /* Ajoute un peu de padding pour l'espacement intérieur */
  background-color: #f5f5f5; /* Optionnel : ajoute une couleur de fond */
  border: 1px solid #ccc; /* Optionnel : ajoute une bordure */
  border-radius: 0.5em; /* Optionnel : ajoute des coins arrondis */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optionnel : ajoute une ombre pour l'effet visuel */
}

input[type="text"], input[type="password"] {
  width: 100%;
  height: 1.25em;
  margin-bottom: 0.625em;
  padding: 0.3125em;
  border: 0.0625em solid #ccc;
  border-radius: 0.125em;
  font-size: 0.875em;
  box-sizing: border-box;
}

form {
  align-items: center;
  justify-content: center;
}

input[type="submit"] {
  width: 100%;
  height: 1.25em;
  background-color: rgb(69, 69, 235);
  color: #fff;
  padding: 0.3125em;
  border: none;
  border-radius: 0.125em;
  cursor: pointer;
  font-size: 0.875em;
  box-sizing: border-box;
}

input[type="submit"]:hover {
  background-color: rgb(69, 69, 235);
}

.disconnect-form input[type="submit"] {
  background-color: rgb(69, 69, 235);
}

.disconnect-form input[type="submit"]:hover {
  background-color: rgb(69, 69, 235);
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 12.5em;
  margin: 0 auto;
}

form input[type="text"],
form input[type="password"] {
  width: 100%;
  margin-bottom: 0.625em;
}

form input[type="submit"] {
  width: 100%;
  margin-top: 0.625em;
}

@media (max-width: 24.375em) {
  header {
    padding: 0.46875em 0.9375em;
  }

  header a {
    margin-right: 0.3125em;
    margin-bottom: 0.3125em;
  }

  #button-container {
    margin-top: 1.875em;
  }

  form {
    max-width: 100%;
  }

  input[type="text"], input[type="password"] {
    width: 100%;
    margin-bottom: 0.3125em;
  }

  input[type="submit"] {
    width: 100%;
    margin-top: 0.3125em;
  }
}
